.player-background {
    -fx-background-color: #656565;
}

.default-button {
    -fx-font-family: "MediaPlayer";
    -fx-text-overrun: clip;
    -fx-padding: 0px;
    -fx-text-fill: #000000;
    -fx-font-size: 26px;
}

.display-window {
    -fx-border-width: 1px;
    -fx-background-color: #000000;
    -fx-color: #44d8ff;
    -fx-border-color: #000000;
}

.eqBarFill {
    -fx-fill: image-pattern("/images/eq_light_bar.png", 0, 0, 26, 4, false);
}