.player-background {
    -fx-background-color: #646464;
    -fx-background-image: url("/images/BlackBrushed.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.player-display {
    -fx-background-color: #1d1d1d;
    -fx_background-radius: 0px;
    -fx-effect: dropshadow(gaussian, #000000, 3, 0.9, 0,0);
    -fx-border-color: #515151 #292929 #292929 #515151;
    -fx-border-width: 1.5px;
}

.default-button {
    -fx-font-family: "MediaPlayer";
    -fx-text-overrun: clip;
    -fx-padding: 0px;
    -fx-text-fill: #000000;
    -fx-font-size: 26px;
}

.mute-button {
    -fx-font-family: "MediaPlayer";
    -fx-text-overrun: clip;
    -fx-padding: 0px;
    -fx-text-fill: #000000;
    -fx-font-size: 34px;
}

.eqBarFill {
    -fx-fill: image-pattern("/images/eq_light_bar.png", 0, 0, 26, 4, false);
}

.songTitle-display {
    -fx-scale-x: 0.85;
}